.show-button .button-purple-back-white-text {
  font-weight: bold;
  border-radius: 20rpx;
  color: white;
  background-color: rgb(109, 95, 254);
  font-size: 28rpx;
  width: 100%;
}

.show-button .button-white-back-purple-text {
  margin-bottom: 20rpx;
  color: rgba(117, 99, 238);
  font-weight: bold;
  border-radius: 20rpx;
  font-size: 28rpx;
  width: 100%;
}

.show-button .button-white {
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20rpx;
  font-size: 28rpx;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}

.all-body {
  width: 100vw;
  height: 100vh;
}

.logo-view {
  height: 50rpx;
  width: 50rpx;
  margin-top: 50rpx;
}

.logo-image {
  border-radius: 50px;
  height: 100%;
  width: 100%;
}

.show-body {
  width: 80vw;
  height: 90vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.half-text-view {
  margin-top: 50rpx;
  margin-bottom: 50rpx;
}